:root {
  --container-width: 95%;
  --container-width-lg: 90%;
  --bg-color: #09090B;
}

.App {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: var(--bg-color);
  color: rgba(255, 255, 255, 0.87);
  min-height: 100dvh;
}

.home {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  border-bottom: 1px solid rgb(55 65 81);
  position: relative;
}

.header-inner {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  width: var(--container-width-lg);
  margin-inline: auto;

  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 2rem;
  justify-content: center;
}

/* header -> header-inner -> nav-mobile  */
.nav-mobile {
  z-index: 99;
  position: absolute;
  right: 0;
  top: 0;
  left: 20%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  padding-top: 2.5rem;
  border-left: 1px solid white;
}

@media (width >= 768px) {
  .nav-mobile {
    display: none;
  }
}

.nav-mobile > * {
  padding-left: 2.6rem;
}

.nav-mobile ul {
  display: grid;
  gap: 1rem;
}

.link {
  font-weight: 500;
}

@media (width < 768px) {
  .header-inner {
    width: var(--container-width);
  }

  .nav-desktop, .logo {
    display: none;
  }

  .header-inner {
    padding-top: .5rem;
    padding-bottom: .5rem;
    gap: 1rem;
  }

  main {
    width: var(--container-width);
  }
}


/* Main  */

main {
  width: var(--container-width-lg);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}
